html {
}

html, body, h1, h2, h3, h4, h5 {
    font-family: Cantarell, non-serif;
}

body {
    margin-top: 20px;
}

.breadcrumb {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 50px;
}

.breadcrumb a {
    display: inline-block;
}

.customer-group {
    margin-bottom: 10px;
    padding: 0 10px 5px 10px;
    border-radius: 4px;
}

.customer-group h3 {
    margin-top: 0;
}


.customer-group:target {
    background-color: #f4f8fa;
}

button a {
    display: block;
}

.columns3 {
    columns: 3;
    -moz-columns: 3;
    -webkit-columns: 3;
}

.columns-no-break {
    break-inside: avoid-column;
    -moz-break-inside: avoid-column;
    -webkit-break-inside: avoid-column;
    page-break-inside:avoid;
    -moz-page-break-inside:avoid;
    -webkit-page-break-inside:avoid;
}

.small-btn {
    font-size: 0.8em;
}

#footer {
    margin-top: 50px;
    font-size: 0.8em;
    text-align: right;
}

th a span.active {
    color: #F0AD4E !important;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
    font-size: 0.5em;
}

.history > li {
    margin-bottom: 20px;
}
