{% macro render_errors(form) -%}
{% if form.errors %}
<div class="alert alert-danger" style="font-size: 80%">
    <ul>
    {% for field in form if field.errors %}
        {% for error in field.errors -%}
        <li>{{ field.label}}: {{error}}</li>
        {%- endfor %}
    {% endfor %}
    </ul>
</div>
{% endif %}
{%- endmacro %}

{% macro render_field_inline(field, label_size=2, field_size=4) -%}
<div {% if field.errors %}class="has-error"{% endif %}>
    <label class="col-lg-{{ label_size }} control-label">{{ field.label }}</label>

    <div class="col-lg-{{ field_size }}">
        {{ field(class='form-control', placeholder=field.description)|safe }}
    </div>
</div>
{%- endmacro %}

{% macro render_field(field, label_size=2, field_size=4) -%}
<div class="form-group">
    {{ render_field_inline(field, label_size, field_size) }}
</div>
{%- endmacro %}
