<table class="table table-hover sortable">
    <thead>
        <tr>
            <th style="min-width: 4em;">{{ headers['id'] }}</th>
            <th>{{ headers['status'] }}</th>
            <th>{{ headers['customer'] }}</th>
            <th style="min-width: 8em;">{{ headers['owner'] }}</th>
            <th>{{ headers['description'] }}</th>
            <th style="min-width: 7em;">{{ headers['deadline'] }}</th>
        </tr>
    </thead>
    <tbody>
        {% for rep in rows %}
        {% set rep_url = rep.get_absolute_url() %}
        <tr class="{% if rep.is_overdue and rep.is_active %}danger{% elif rep.deadline and rep.is_active %}warning{% endif %}">
            <td><a href="{{rep_url}}">{{ rep._id }}</a></td>
            <td><a href="{{rep_url}}?quickedit&next={{ request.path }}">{{ rep.status.label }}</a></td>
            <td><a href="{{rep.customer|url}}">{{ rep.customer.name }}</a></td>
            <td><a href="{{rep_url}}?quickedit&next={{ request.path }}">{{ rep.owner.name|default('-') }}</a></td>
            <td><a href="{{rep_url}}">{{ rep.description }}</a></td>
            <td>{{ rep.deadline|timedelta }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
