<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Biletoj{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
  </head>
  <body class="container">
    <form class="form-inline pull-right" role="search" method="GET" action="/search">
        <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="ID / Nom / Mot clé" style="display: inline-block"></input>
        </div>
            <button type="submit" class="btn btn-default" style="display: inline-block">Chercher</button> 
    </form>

    <ul class="nav nav-pills">
        <li><a href="{{ url_for('index') }}">Accueil</a></li>
        <li><a href="{{ url_for('reparation_list') }}">Réparations</a></li>
        <li><a href="{{ url_for('customer_list') }}">Clients</a></li>
        <li><a href="{{ url_for('techie_list') }}">Techniciens</a></li>
        <li><a href="{{ url_for('location_list') }}">Lieux</a></li>
        <li><a href="{{ url_for('status_list') }}">Statuts</a></li>
        <li><a href="{{ url_for('config') }}">Configuration</a></li>
    </ul>

    {% block content %}{% endblock %}

    <p id="footer">
        Propulsé par <a href="https://gitorious.org/biletoj">biletoj</a> 0.1.1
    </p>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">$('.progress-bar').tooltip({placement: 'bottom'})</script>
    {% block script %}{% endblock %}
  </body>
</html>
