{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_inline, render_errors %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Configuration</li>
</ol>

<h2>Configuration</h2>

<form method="post" action="" role="form" class="form-horizontal">
    {{ render_errors(form) }}
    {{ render_field(form.default_status) }}
    {{ render_field(form.default_location) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
</form>
{% endblock %}
