{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_inline, render_errors %}

{% block title %}Biletoj - Client : nouveau{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><a href="{{ url_for('customer_list') }}">Clients</a> : nouveau</li>
</ol>

<form method="post" action="" role="form" class="form-horizontal">
    {{ render_errors(form) }}
    <div class="form-group">
        {{ render_field_inline(form.name) }}
        {{ render_field_inline(form.phone1) }}
    </div>
    <div class="form-group">
        {{ render_field_inline(form.email) }}
        {{ render_field_inline(form.phone2) }}
    </div>
    <div class="form-group">
        {{ render_field_inline(form.address) }}
        {{ render_field_inline(form.notes) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" name="button" value="create">Créer</button>
            <button type="submit" class="btn btn-primary" name="button" value="create+add">Créer &amp; Ajouter une réparation</button>
        </div>
    </div>
</form>
{% endblock %}
