{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Clients</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('customer_list') }}?new"><strong>Nouveau Client</strong></a>
</p>

<h2>Clients</h2>

<div class="btn-group">
    {% for index, _ in grouped_customers -%}
    <a class="btn btn-default" href="#group-{{ index }}">{{ index }}</a>
    {%- endfor %}
</div>

<div class="clearfix" style="height: 10px"></div>

<div class="columns3">
{% for index, customers in grouped_customers %}
    <div id="group-{{ index }}" class="customer-group columns-no-break">
        <h3>{{ index }}</h3>
        <ul>
        {% for customer in customers %}
            <li><a href="{{ customer|url }}">{{ customer.name }}</a></li>
        {%- endfor %}
        </ul>
    </div>
{%- endfor %}
</div>
{% endblock %}
