{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ url_for('customer_list') }}">Clients</a></li>
    <li class="active">{{ customer.name }}</li>
</ol>

<h3>{{ customer.name }}</h3>

<div class="container">
    <div class="row">
        <p class="col-lg-2 text-right"><strong>Téléphone 1</strong></p>
        <p class="col-lg-4">{{ customer.phone1 }}</p>
        <p class="col-lg-2 text-right"><strong>Téléphone 2</strong></p>
        <p class="col-lg-4">{{ customer.phone2|default('-', True) }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Email</strong></p>
        <p class="col-lg-10">{{ customer.email|default('-', True) }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Adresse</strong></p>
        <p class="col-lg-10" style="white-space: pre-wrap;">{{ customer.address|default('-', True) }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Notes</strong></p>
        <p class="col-lg-10" style="white-space: pre-wrap;">{{ customer.notes|default('-', True) }}</p>
    </div>
</div>

<div class="clearfix"></div>

<p class="pull-right">
<a class="btn btn-primary" href="{{ url_for('reparation_list') }}?new&customer={{ customer._id }}"><strong>Nouvelle Réparation</strong></a>
<a class="btn btn-default" href="{{ customer|url }}?edit"><strong>Éditer</strong></a>
</p>

<div class="clearfix"></div>

{{ reparations_table.render() }}
{% endblock %}
