{% extends 'base.html' %}

{% block title %}Biletoj - Lieux{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Lieux</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('location_list') }}?new"><strong>Nouveau</strong></a>
</p>


<h2>Lieux</h2>

<ul>
{% for location in locations -%}
    <li><a href="{{ location|url }}">{{ location.name }}</a></li>
{% endfor -%}
</ul>

{% endblock %}
