{% extends 'base.html' %}

{% block title %}Biletoj - Lieux / {{ location.name }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ url_for('location_list') }}">Lieux</a></li>
    <li class="active">{{ location.name }}</li>
</ol>

<h2>Réparations</h2>

{{ reparations_table.render() }}

{% set pagination = reparations_table.pagination() %}
<div class="text-center">
    <ul class="pagination pagination-sm">
        <li {% if not pagination['previous'] %}class="disabled"{% endif %}><a href="{{ pagination['previous'] }}">&laquo;</a></li>
        {% for i in pagination['pages_range'] -%}
        <li {% if pagination['current'] == i %}class="active"{% endif %}><a href="{{ pagination['pages'][i] }}">{{ i }}</a></li>
        {%- endfor %}
        <li {% if not pagination['next'] %}class="disabled"{% endif %}><a href="{{ pagination['next'] }}">&raquo;</a></li>
    </ul>
</div>
{% endblock %}
