{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_inline, render_errors %}

{% block title %}Biletoj - Réparation {{ reparation._id }}: édition rapide{% endblock %}


{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ url_for('reparation_list') }}">Réparations</a></li>
    <li class="active"><a href="{{ reparation|url }}">{{ reparation._id }}</a> : édition rapide</li>
</ol>

<form method="post" action="" role="form" class="form-horizontal">
    {{ render_errors(form) }}
    <div class="form-group">
        {{ render_field_inline(form.status_id) }}
        {{ render_field_inline(form.techie_id) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
</form>
{% endblock %}
