{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_inline, render_errors %}

{% block title %}Biletoj - Réparation : nouvelle{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><a href="{{ url_for('reparation_list') }}">Réparations</a> : nouvelle</li>
</ol>

<form method="post" action="" role="form" class="form-horizontal">
    {{ render_errors(form) }}
    <div class="form-group">
        {{ render_field_inline(form.r_id, field_size=1) }}
        {{ render_field_inline(form.customer, label_size=1, field_size=4) }}
        {{ render_field_inline(form.deadline, label_size=1, field_size=3) }}
    </div>
    <div class="form-group">
        {{ render_field_inline(form.location, label_size=2, field_size=4) }}
        {{ render_field_inline(form.accepted_by, label_size=2, field_size=4) }}
    </div>
    {{ render_field(form.description, field_size=10) }}
    {{ render_field(form.model, field_size=10) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" name="button" value="create">Créer</button>
            <button type="submit" class="btn btn-primary" name="button" value="create+print">Créer &amp; Imprimer</button>
        </div>
    </div>
</form>
{% endblock %}
