{% extends 'base.html' %}

{% block content %}
{% set reparations_url = url_for('reparation_list') %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Réparations</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('reparation_list') }}?new"><strong>Nouvelle Réparation</strong></a>
</p>

<h2>Réparations</h2>

{{ reparations_table.render() }}

{% set pagination = reparations_table.pagination() %}
<div class="text-center">
    <ul class="pagination pagination-sm">
        <li {% if not pagination['previous'] %}class="disabled"{% endif %}><a href="{{ pagination['previous'] }}">&laquo;</a></li>
        {% for i in pagination['pages_range'] -%}
        <li {% if pagination['current'] == i %}class="active"{% endif %}><a href="{{ pagination['pages'][i] }}">{{ i }}</a></li>
        {%- endfor %}
        <li {% if not pagination['next'] %}class="disabled"{% endif %}><a href="{{ pagination['next'] }}">&raquo;</a></li>
    </ul>
</div>
{% endblock %}
