{% extends 'base.html' %}

{% block head -%}
{% if to_print -%}<meta http-equiv="refresh" content="0; url={{ url_for('reparation_sheet', reparation_id=reparation._id) }}">{%- endif %}
{%- endblock %}

{% block title %}Biletoj - Réparation : nouvelle{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ url_for('reparation_list') }}">Réparations</a></li>
    <li class="active">{{ reparation._id }}</li>
</ol>

<div class="container">
    <div class="row">
        <p class="col-lg-2 text-right"><strong>N°</strong></p>
        <p class="col-lg-10">{{ reparation._id }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Client</strong></p>
        <p class="col-lg-4"><a href="{{ reparation.customer|url }}">{{ reparation.customer.name }}</a></p>
        <p class="col-lg-2 text-right"><strong>Échéance</strong></p>
        <p class="col-lg-4">{{ reparation.deadline|timedelta }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Statut</strong></p>
        <p class="col-lg-4"><a href="{{ reparation|url}}?quickedit">{{ reparation.status.label }}</a></p>
        <p class="col-lg-2 text-right"><strong>Attribué à</strong></p>
        {% if reparation.owner.name %}
        <p class="col-lg-4"><a href="{{ reparation|url }}?quickedit">{{ reparation.owner.name }}</a></p>
        {% else %}
        <p class="col-lg-4">-</p>
        {% endif %}
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Lieu</strong></p>
        <p class="col-lg-4">{{ reparation.location.name }}</p>
        <p class="col-lg-2 text-right"><strong>Accepté par</strong></p>
        <p class="col-lg-4">{{ reparation.accepted_by.name }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Description</strong></p>
        <p class="col-lg-10">{{ reparation.description }}</p>
    </div>

    <div class="row">
        <p class="col-lg-2 text-right"><strong>Modèle</strong></p>
        <p class="col-lg-10">{{ reparation.model|default('-', True) }}</p>
    </div>
</div>

<div class="clearfix"></div>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('reparation_sheet', reparation_id=reparation._id) }}"><strong>Fiche de Réparation</strong></a>
    <a class="btn btn-default" href="{{ url_for('reparation_bill', reparation_id=reparation._id) }}"><strong>Facture</strong></a>
    <a class="btn btn-default" href="{{ reparation|url }}?edit"><strong>Éditer</strong></a>
</p>

<div class="clearfix"></div>

<h3>Historique</h3>
<ul class="history">
{% for h in reparation.history -%}
    <li>
        {{ h.datetime|timedelta }} :
        <ul>
        {% if h.status %}
            <li>passé en <em>{{ h.status.label }}</em></li>
        {% endif %}
        {% if h.techie %}
            <li>attribué à <a href="{{ h.techie|url }}">{{ h.techie.name }}</a></li>
        {% endif %}
        {% if not h.status and not h.techie and not h.location%}
            <li>n’est plus attribué</li>
        {% endif %}
        {% if h.location %}
            <li>déplacé à <a href="{{ h.location|url }}">{{ h.location.name }}</a></li>
        {% endif %}
        </ul>
    </li>
{%- endfor %}
</ul>
{% endblock %}
