{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Recherche : "{{ request.args['q'] }}"</li>
</ol>

{% if not customers and not reparations %}
<h3>Aucun résultat</h3>
{% else %}
<h3>Réparations</h3>
<ul>
    {% if not reparations %}
    <li>Aucun résultat</li>
    {% else %}
    {% for rep in reparations %}
    <li>
        <a href="{{ rep|url }}">{{ rep._id }} - {{ rep.description }}</a>
        {% if rep.model %}<br />modèle: {{ rep.model }}{% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>

<h3>Clients</h3>
<ul>
    {% if not customers %}
    <li>Aucun résultat</li>
    {% else %}
    {% for cus in customers %}
    <li>
        <a href="{{ cus|url }}">{{ cus.name }}</a><br />
        {% if cus.notes %}<br />notes: {{ cus.notes }}{% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endif %}

{% endblock %}
