{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Statuts</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('status_list') }}?new"><strong>Nouveau Statut</strong></a>
    <a class="btn btn-default" href="{{ url_for('status_list') }}?new_level"><strong>Nouveau Niveau</strong></a>
</p>

<h2>Statuts</h2>

<div class="btn-group">
    {% for index, _ in grouped_customers -%}
    <a class="btn btn-default" href="#group-{{ index }}">{{ index }}</a>
    {%- endfor %}
</div>

<div class="clearfix" style="height: 10px"></div>

{% for level, statuses in grouped_statuses %}
<h3>{{ level }}</h3>
<ul>
{% for status in statuses %}
    <li><a href="{{ status|url }}">{{ status.label }}</a></li>
{%- endfor %}
</ul>
{%- endfor %}
{% endblock %}
