{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ url_for('status_list') }}">Statuts</a></li>
    <li class="active">{{ status.label }}</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ status|url }}?edit"><strong>Éditer</strong></a>
</p>

<h2>{{ status.label }}</h2>

<div class="container">
    <div class="row">
        <p class="col-lg-2 text-right"><strong>Label</strong></p>
        <p class="col-lg-4">{{ status.label }}</p>
        <p class="col-lg-2 text-right"><strong>Niveau</strong></p>
        <p class="col-lg-4">{{ status.level.label }}</p>
    </div>
    <div class="row">
        <p class="col-lg-2 text-right"><strong>Priorité</strong></p>
        <p class="col-lg-4">{{ status.priority }}</p>
    </div>
</div>
{% endblock %}
