{% extends 'base.html' %}

{% block title %}Biletoj - Technicien / {{ techie.name }}{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="{{ url_for('techie_list') }}">Techniciens</a></li>
    <li class="active">{{ techie.name }}</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('techie', techie_id=techie._id)}}?edit"><strong>Éditer</strong></a>
</p>

<h2>Réparations</h2>

{{ reparations_table.render() }}
{% endblock %}
