{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_field_inline, render_errors %}

{% block title %}Biletoj - Techniciens : nouveau{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><a href="{{ url_for('techie_list') }}">Techniciens</a> : nouveau</li>
</ol>

<form method="post" action="" role="form" class="form-horizontal">
    {{ render_errors(form) }}
    {{ render_field(form.name, field_size=10) }}
    <div class="form-group">
        {{ render_field_inline(form.priority) }}
        {{ render_field_inline(form.is_active, field_size=1) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="button" value="create">Créer</button>
        </div>
    </div>
</form>
{% endblock %}
