{% extends 'base.html' %}

{% block title %}Biletoj - Techiciens{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Techniciens</li>
</ol>

<p class="pull-right">
    <a class="btn btn-primary" href="{{ url_for('techie_list') }}?new"><strong>Nouveau Technicien</strong></a>
</p>


<h2>Techniciens</h2>

<ul>
{% for techie in techies if techie.is_active-%}
    <li><a href="{{ techie|url }}">{{ techie.name }}</a></li>
{% endfor -%}
</ul>

<h3>Inactifs</h3>

<ul>
{% for techie in techies if not techie.is_active-%}
    <li><a href="{{ techie|url }}">{{ techie.name }}</li>
{% endfor -%}
</ul>

{% endblock %}
